.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Nav {
  background-color: #2b2d42;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: right;
}

.Nav li {
  list-style-type: none;
}

.Nav a {
  display: inline-block;
  padding: 25px;
  margin: 0 25px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}

.Nav img {
  padding-top: 15px;
}

.header {
  text-align: center;
  display: grid;
  grid-template-columns: 1/ span 12;
  grid-template-rows: 100px;
  padding-top: 50px;
}

.foot {
  display: grid;
    /* grid-template-columns: repeat(3, 200px); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

form {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 1em;
  margin-right: 1em;
}

.field {
  grid-column: span 1;
  display: grid;
  grid: inherit;
  grid-template-columns: subgrid;
  grid-gap: inherit;
  margin-bottom: 1em;
}

/* .foot {
  display: flex;
  box-sizing:content-box;
  text-align: center;
  justify-content: center;
}

.footList {
  margin: 10px;
}

h2 {
  text-align: center;
} */

/* .billing {
  background-color: #61dafb; 
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
} */

/* .billing ul {
  display: table-row-group;
  justify-content:space-between;
  padding: 5px;
}

.billing li {
  display: table-row;
}

.billing label {
  display: table-cell;
}

.billing input {
  display: table-cell;
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items : center;
} */
